In [7]:
from pathlib import Path

import numpy as np
import pandas as pd

from src.config import DATA_DIR

In [ ]:
path = Path(DATA_DIR / "potential_cache" / "1998" / "091_120APR" / "3D980410.npz")

with np.load(path) as data:
    for key in data.files:
        print(key, data[key].shape, data[key].dtype)

rows_spec_no (15135,) int64
rows_utc (15135,) <U64
rows_time (15135,) <U64
rows_spacecraft_latitude (15135,) float64
rows_spacecraft_longitude (15135,) float64
rows_projection_latitude (15135,) float64
rows_projection_longitude (15135,) float64
rows_spacecraft_potential (15135,) float64
rows_projected_potential (15135,) float64
rows_spacecraft_in_sun (15135,) bool
rows_projection_in_sun (15135,) bool
spec_spec_no (1009,) int64
spec_time_start (1009,) <U64
spec_time_end (1009,) <U64
spec_has_fit (1009,) bool
spec_row_count (1009,) int64

In [19]:
with np.load(path) as data:
    data = pd.DataFrame({key: data[key] for key in data.files if data[key].shape[0] == 15135})

In [29]:
data[data.notnull().all(axis=1)]

,rows_spec_no,rows_utc,rows_time,rows_spacecraft_latitude,rows_spacecraft_longitude,rows_projection_latitude,rows_projection_longitude,rows_spacecraft_potential,rows_projected_potential,rows_spacecraft_in_sun,rows_projection_in_sun
54,4,1998-04-10T00:05:49,892166704.0,-66.918112,-161.996920,-82.652785,-160.848951,-71.309237,-137.348938,False,False
55,4,1998-04-10T00:05:54,892166704.0,-66.661527,-162.028437,-81.208051,-161.189721,-71.309237,-137.348938,False,False
56,4,1998-04-10T00:05:59,892166704.0,-66.404934,-162.059323,-80.136848,-161.394072,-71.309237,-137.348938,False,False
57,4,1998-04-10T00:06:04,892166704.0,-66.148333,-162.089598,-79.239666,-161.543331,-71.309237,-137.348938,False,False
58,4,1998-04-10T00:06:09,892166704.0,-65.891725,-162.119281,-78.448363,-161.662176,-71.309237,-137.348938,False,False
...,...,...,...,...,...,...,...,...,...,...,...
15130,1061,1998-04-11T00:00:00,892252750.0,-4.328245,-177.612982,-4.484233,-177.222508,-11.697945,-95.511719,False,False
15131,1061,1998-04-11T00:00:05,892252750.0,-4.072370,-177.617826,-4.214247,-177.227621,-11.697945,-95.511719,False,False
15132,1061,1998-04-11T00:00:10,892252750.0,-3.816505,-177.622667,-3.944268,-177.232713,-11.697945,-95.511719,False,False
15133,1061,1998-04-11T00:00:15,892252750.0,-3.560650,-177.627505,-3.674293,-177.237784,-11.697945,-95.511719,False,False
15134,1061,1998-04-11T00:00:20,892252750.0,-3.304806,-177.632340,-3.404324,-177.242836,-11.697945,-95.511719,False,False